<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>TT add user</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
	body 		{ padding-top:80px; }
	</style>
</head>
<body>
	<div class="container">

		<div class="col-sm-6 col-sm-offset-3">

			<h1><span class="fa fa-sign-in"></span> New Enrollment </h1>


			<% if (message.length > 0) { %>
				<div class="alert alert-danger"><%= message %></div>
				<% } %>

				<!-- LOGIN FORM -->
				<form  action="" enctype='multipart/form-data' method="post">
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control" name="frm_name">
					</div>
					<div class="form-group">
						<label>Middle Name</label>
						<input type="text" class="form-control" name="frm_husbnd_name">
					</div>
					<div class="form-group">
						<label>Last name</label>
						<input type="text" class="form-control" name="last_name">
					</div>
					<div class="form-group" >
						<label>profile picture </label>
						<!-- webkitdirectory -->
						<input type="file"   multiple name="picture">
					</div>
					<div class="form-group">
						<label>address</label>
						<input type="text" class="form-control" name="addr1">
					</div>
					<div class="form-group">
						<label>city</label>
						<input type="text" class="form-control" name="city_twn_village">
					</div>
					<div class="form-group">
						<label>state</label>
						<input type="text" class="form-control" name="state">
					</div>
					<div class="form-group">
						<label>pincode</label>
						<input type="number" class="form-control" name="pincode">
					</div>

					<div class="form-group">
						<label>country</label>
						<input type="text" class="form-control" name="country">
					</div>

					<div class="form-group">
						<label>mobile</label>
						<input type="number" class="form-control" name="mobile">
					</div>
					<div class="form-group">
						<label>email</label>
						<input type="text" class="form-control" name="email">
					</div>
					<div class="form-group">
						<label>landline</label>
						<input type="number" class="form-control" name="landline">
					</div>
					<div class="form-group">
						<label>district</label>
						<input type="text" class="form-control" name="district">
					</div>
					<div class="form-group">
						<label>latitude</label>
						<input type="number" class="form-control" name="fields[0][latitude]">
					</div>
					<div class="form-group">
						<label>longitude</label>
						<input type="number" class="form-control" name="fields[0][longitude]">
					</div>
					<div class="form-group">
						<label>total area</label>
						<input type="number" class="form-control" name="fields[0][total_area]">
					</div>
					<div class="form-group">
						<label>Farming type</label>
						<input type="number" class="form-control" name="fields[0][farming_type]">
					</div>
					<div class="form-group">
						<label>area proposed GCP</label>
						<input type="number" class="form-control" name="fields[0][area_proposed_GCP]">
					</div>
					<div class="form-group">
						<label>reason for change</label>
						<input type="text" class="form-control" name="fields[0][reason_for_change]">
					</div>
					<div class="form-group">
						<label>crop_id</label>
						<input type="number" class="form-control" name="fields[0][crops][0][crop_id]">
					</div>
					<div class="form-group">
						<label>ppm_id</label>
						<input type="number" class="form-control" name="fields[0][ppm_id]">
					</div>
					<div class="form-group">
						<label>snm_id</label>
						<input type="number" class="form-control" name="fields[0][snm_id]">
					</div>

					<button type="submit" class="btn btn-primary btn-lg">Enroll</button>
				</form>

				<hr>

				<!-- <p>Already have an account? <a href="/login">Login</a></p> -->
				<!-- <p>Or go <a href="/">home</a>.</p> -->

			</div>

		</div>

	</body>
	</html>
